

body {
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2, h3 {
    font-variant: small-caps;
    background-color: silver;
    color: white;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: PapayaWhip;
}

p {
    text-align: justify;

    font-family: "Gloria Hallelujah", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}