body {
    padding: 50px 20%;
}

h1, h2, h3, bold, strong{
    color: Plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: 1px solid LightSlateGray;
}

hr {
    width: 50%;
    border: dotted thin;
}

p {
    font-family: Georgia, serif;
    color: DarkSlateGray;
    text-align: justify;
    font-style: italic;

}

h1 {
    text-transform: uppercase;
}

#big-achievement {
    color: red;
}