body {
    padding-left: 20%;
    padding-right: 20%;
}

h1, h2, h3, bold, strong{
    color: Plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: 1px solid LightSlateGray;
}

hr {
    width: 50%;
    border: dotted thin;
}

p {
    font-family: Georgia serif;
    color: DarkSlateGray;


}